:root{
  --bg-color:#f9f9f9;
  --dark-color: #000;
  --accent-color:#ff7020;
  --light-color: #ffab08;
  --card-color:#fff;
  --unactive-color: #f2f2f3;
  --tab-color:#f86310;
  --weight-color:#b1b1b1;

  --mobile-small-fs:10px;
  --mobile-medium-fs:12px;
  --mobile-title-fs:30px ;
  --tablet-large-fs:28px;
  --tablet-title-fs:36px ;
  --main-fs:16px;
  --medium-fs:18px;
  --large-fs:24px;
  --xlarge-fs:40px;
  --title-fs:50px;

  --regular-fw:400;
  --semibold-fw:600;
  --extrabold-fw:800;
}








